#ass .bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.ass-title {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
}