*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p, a, li, small, strong {
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px;
}