#title{
  h1 {
    padding-bottom: 15px;
  }

  p {
    padding-bottom: 15px;
  }

  .bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
    
  .yasin-title{
    background-color: var(--light-gray);
    width: 100%;
    background-position: 40%;
    align-items: center;
    height: 500px;
  }
}